@use '../util/' as util;
html{
    font-size: 100%;
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
}
body{
    background-color: var(--background-color);
    font-family: util.$font;
    margin: 0;
    padding: 0;
}
