@use '../util/' as util;
h1{
    font-size: clamp(util.rem(32), util.rem(32) + 2vw, util.rem(40));
}
h2{
    font-size: clamp(util.rem(28), util.rem(28) + 2vw, util.rem(36));
}
h3{
    font-size: clamp(util.rem(24), util.rem(24) + 2vw, util.rem(32));
}
h1, 
h2,
h3{
    font-weight: 700;
    margin-top: 0;
}

p{
    font-size: clamp(util.rem(16), util.rem(16) + 2vw, util.rem(24));
    margin-top: 0;
}