h1{
    font-size: clamp(32px, 32px + 2vw, 40px);
}
h2{
    font-size: clamp(28px, 28px + 2vw, 36px);
}
h3{
    font-size: clamp(24px, 24px + 2vw, 32px);
}
h1, 
h2,
h3{
    font-weight: 700;
    margin-top: 0;
}

p{
    font-size: clamp(16px, 16px + 2vw, 24px);
    margin-top: 0;
}