@use '../util/' as util;
h1{
    font-size: clamp(32px, 32px + 2vw, 40px);
}
h2{
    font-size: clamp(28px, 28px + 2vw, 36px);
}
h3{
    font-size: clamp(util.rem(24), util.rem(24) + 2vw, util.rem(32));
}
h1, 
h2,
h3{
    font-weight: 700;
    margin-top: 0;
}

p{
    font-size: clamp(util.rem(16), util.rem(16) + 2vw, util.rem(24));
    margin-top: 0;
}