$primary-color: #fff;
$secondary-color: rgba(0, 0, 0, 0.933);
$tertiary-color: #333;

:root{
    --background-color: rgba(0, 0, 0, 0.933);
}

$text-primary-color: #000;
$text-secondary-color: #fff;
$text-tertiary-color: rgb(6, 212, 129);